.header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(20px);
    position: fixed;
    color: #fff;
}
.header nav h1 {
    letter-spacing: 0.1em;
    transition: all .4s ease;
}
.header nav h1.animLogo {
    letter-spacing: 0.4em;
}
.account  {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}
.account a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}
#loginLink {
    color: blueviolet;
}

.logo {
    cursor: pointer;
    transition: all .4s ease;
}
.logo:hover {
   transform: scale(1.4);
}