.main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.window {
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;
}
.all_items {
    width: fit-content;
    display: flex;
}
.item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
.main button {
    padding: 10px  20px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .2s ease;
}
.backBtn:active  {
    transform: translateX(-10px);
}
.forwardBtn:active  {
    transform: translateX(10px);
}