.window {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.window ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.window ul li {
    padding: 10px 40px;
    width: 60%;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: rgb(27, 27, 27);
}
.window ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    text-decoration: none;
    color: #fff;
}
.window ul li p {
    color: #fff;
}